//variables
$my-purple: hsl(275, 100%, 48%);
$my-purple-trans: hsla(275, 100%, 48%, 0.15);

//mix-ins
@mixin center-all {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

//selectors
.main-container {
  @include center-all;
}
@media only screen and (max-width: 450px) {
  .main-container {
    margin: 1rem auto 5rem auto;
  }
}
.main-container:before {
  content: '';
  height: 130vh;
  width: 130%;
  background-image: url('../assets/bg_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: -100px;
  right: 0px;
  bottom: 0px;
  left: -100px;
  z-index: -1982;

  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,0),
  rgba(0,0,0,1),
  rgba(0,0,0,1),
  rgba(0,0,0,0));
  opacity: 0.45;
  filter: blur(0px);
}

.myHR {
  border-color: $my-purple;
}

.my-wrap {
  @include center-all();
  width: 80vw;
  border: 1px solid $my-purple;
  flex-direction: column;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  background-color: $my-purple-trans;
  animation: grow 1.25s steps(1250);
}
@keyframes grow {
  from {transform: scaleX(0); opacity: 0;}
  to {transform: scaleX(1); opacity: 1;}
}

.my-ptag {
  font-size: smaller;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $my-purple;
}
// ---------------input
.my-input {
  cursor: pointer;
  caret-color: white;
  font-size: 1.25rem;
  color: white;
  margin: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  border-radius: 0.25rem;
  border-color: $my-purple;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.75s;
}
.my-input::placeholder {
  color: $my-purple-trans;
}
.my-input:focus {
  cursor: text;
}
.my-input:focus, .my-input:hover {
  background-color: $my-purple-trans;
  &::placeholder {
    color: $my-purple;
  }
}
// ------------end input
.my-button {
  margin: 1rem;
  padding: 0.25rem 2rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid $my-purple;
  color: $my-purple-trans;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.my-button:hover {
  color: white;
  background-color: $my-purple-trans;
  border-color: white;
  > .connect::before, .connect::after {
    color: $my-purple;
    transform: scale(1.5);
    animation: spin 0.55s ease-in-out;
  }
}
.connect::before {
  display: inline-block;
  content: '\2234';
}
.connect::after {
  display: inline-block;
  content: '\2234';
}
@keyframes spin {
  from {transform: scale(1) rotate(0deg);}
  to {transform: scale(2) rotate(360deg);}
}
// 
.my-name {
  cursor: pointer;
  font-size: small;
  -webkit-box-reflect: below 5px linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.8));
    transition: 2s;
}
.my-name:hover {
  -webkit-box-reflect: below 5px linear-gradient(
    to bottom,
    transparent,
    rgba(255, 255, 255, 0.4));
    >.goBack {
      color:  hsl(108, 100%, 68%);
    }
}
.goBack {
  display: contents;
}
// jitsy container---

#react-jitsi-container {
  height: 540px!important;
  width: 80vw!important;
}
// #react-jitsi-frame {

// }
